:host(.active) {
  .item-listas-compra {
    background-color: #f1e3fb;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}
