<p *ngIf="cuentaProductos > 0" class="total">Productos restantes: {{cuentaProductos}}</p>

<mat-selection-list *ngIf="cuentaProductos > 0" cdkDropList (cdkDropListDropped)="drop($event)">
  <app-item-producto
    *ngFor="let producto of listaProductos"
    cdkDrag
    [datosProducto]="producto"
    (productoEliminado)="eliminarProducto($event)"
    (datosActualizados)="actualizarCuenta()">
  </app-item-producto>
</mat-selection-list>

<h2 *ngIf="cuentaProductos == 0">
  Actualmente, no tienes productos en tu lista. Pulsa el botón + para añadir productos.
</h2>
