<!-- <label class="itemListaCompra">
  <input
    [(ngModel)]="datosProducto.marcado"
    type="checkbox"
    name="marcado_{{datosProducto.id}}"
    id="marcado_{{datosProducto.id}}"
    [checked]="datosProducto.marcado"
    (change)="emitirEvento()"
  >
  <span class="nombre" [ngClass]="datosspanroducto.marcado ? 'comprado' : ''">{{datosProducto.nombre}}</p>
  <span class="spacer"></span>
  <p class="unidades">{{datosProducto.cantidad}}</p>
</label> -->

<mat-list-option>
  <span class="nombre" [ngClass]="datosProducto.marcado ? 'comprado' : ''">{{datosProducto.nombre}}</span>
  <span class="unidades">{{datosProducto.cantidad}}</span>
</mat-list-option>
