<!-- <label class="itemListaCompra">
  <input
    [(ngModel)]="datosProducto.marcado"
    type="checkbox"
    name="marcado_{{datosProducto.id}}"
    id="marcado_{{datosProducto.id}}"
    [checked]="datosProducto.marcado"
    (change)="emitirEvento()"
  >
  <span class="nombre" [ngClass]="datosspanroducto.marcado ? 'comprado' : ''">{{datosProducto.nombre}}</p>
  <span class="spacer"></span>
  <p class="unidades">{{datosProducto.cantidad}}</p>
</label> -->

<mat-list-option>
  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onClick($event)" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="abrirEditarProducto(datosProducto.id)">
      <mat-icon>edit</mat-icon>
      <span>Editar producto</span>
    </button>
    <button mat-menu-item (click)="abrirEliminarProducto(datosProducto.id)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar producto</span>
    </button>
  </mat-menu>

  <span class="nombre" [ngClass]="datosProducto.marcado ? 'comprado' : ''">{{datosProducto.nombre}}</span>
  <span class="unidades">{{datosProducto.unidades}}</span>
</mat-list-option>
