<div class="login-container">
  <form [formGroup]="registroForm" (submit)="doRegistro()">
      <img src="/assets/imgs/groceries.png" class="logo" alt="Shopping list">
      <h1>Shopping list - Crear usuario</h1>
      <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario">
          <mat-error *ngIf="registroForm.get('usuario')?.invalid">Escribe tu nombre de usuario</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registroForm.get('password')?.errors?.['required']">Escribe tu contraseña</mat-error>
          <mat-error *ngIf="registroForm.get('password')?.errors?.['minlength']">Mínimo, 5 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Repite la contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="repitePassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['required']">Escribe tu contraseña</mat-error>
          <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['minlength']">Mínimo, 5 caracteres</mat-error>
          <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['passwordsIguales']">La contraseña no coincide</mat-error>
        </mat-form-field>
        <div class="buttons">
          <button type="button" [routerLink]="['/login']" mat-button color="accent">¿Ya tienes cuenta?<br />Identifícate</button>
          <button type="submit" [disabled]="registroForm.invalid" mat-raised-button color="primary">Regístrate</button>
        </div>
  </form>
</div>
